/* 
   header font: 'Pacifico', cursive;
   body font: 'Montserrat', sans-seri;
    */


* {
    box-sizing: border-box;
}

.text {
    font-family: 'Montserrat', sans-serif;
}

/* all header styles */
#header {
    display: flex;
    flex-direction: row;
    height: 150px;
    background-color: #49b7f4;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
}

#clock {
    float: left;
    font-family: 'Montserrat', sans-serif;
}

#title {
    font-family: 'Pacifico', cursive;
    font-size: 5rem;
    font-style: italic;
}

#quick-tabs {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* all main styles */

#hero-container {
    display: flex;
    flex-direction: row;
}

#project-nav {
    position: absolute;
    width: 325px;
    background-color: lightgrey;
    top: 150px;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    padding: 13px;
    gap: 7px;
}

#add-project-btn {
    height: 40px;
    background-color: #49b7f4;
    padding: 7px;
    text-align: center;
    text-justify: center;
    font-family: 'Pacifico', cursive;
    font-size: 1.65rem;
    border-radius: 15px;
}

#project-nav-tabs {
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: fit-content;
}

.project-tab-div {
    display: flex;
    flex-direction: row;
    width: fit-content;
    height: fit-content;
    background-color: #49b7f4;
    padding: 12px;
    justify-content: space-between;
    border: 3px solid black;
    border-radius: 15px;
}

.project-tab-name {
    font-family: 'Pacifico', cursive;
    font-size: 1.65rem;
    
}

.button-div {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

#project-display {
    position: absolute;
    top: 150px;
    left: 325px;
    right: 0px;
    bottom: 0px;
    display: flex;
    flex-direction: row;
    padding: 50px;
}

.sublist-div {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 25px;
    width: 450px;
    align-items: center;
    border: 2px solid black;
}

.sublist-title {
    font-family: 'Pacifico', cursive;
    font-size: 2rem;
    font-style: italic;
}

.task-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}

.task-div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border: 2px solid black;
    border-radius: 15px;
    padding: 15px;
}

.text-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-family: 'Montserrat', sans-seri;
}

.btn-container {
    display: flex;
    flex-direction: row;
    padding: 6px;
    gap: 3px;
}